@media (max-width: 550px), (max-height: 750px) {

    footer {
        box-shadow: 0px 0px 5px gray;
    }
}

ol {
    counter-reset: li;
}

ol li:before {
    content: counter(li) ".";;
    counter-increment: li;
    display: inline-block;
    margin-right: .5rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

ol li {
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
}

.main-content {
    overflow:auto;
    padding-bottom: 55px;
}

footer {
   position:fixed;
   background: #fff;
   border-top: #222;
   bottom:0px;
   margin-top: -55px; /* negative value of footer height */
   height: 55px;
   width:100%;
   clear:both;
   /* border-style: solid;
   border-width: 1px 0px 0px 0px;
   border-color: #F1F1F1; */
}

.form-error-hidden {
    display: none;
}

.form-error {
    display: auto;
    color: #fff;
    background: #bf0000;
    border-radius: 4px;
    padding-left: 4px;
}

body {
  text-align: center;
}

.resource.nuevo {
  border: 2px solid #33C3F0;
}